doctype html
html.no-js(lang='')
  include partials/head.pug
  body
    div#main
    script(src=script, text='text/javascript')
    //- | You made it
    //- form(method='POST', action='/admin/auth/login').login
    //-   input(type='text', placeholder='Username', name='username')
    //-   input(type='password', placeholder='Password', name='password')
    //-   input(type='submit', value='Login')
    //- p.message(class=msg.type === error ? 'error' : '') #{ msg.message }