@import '../../../styles/scss/globals.scss';

.custom-table {
  .table {
    &-header {
      border-top-left-radius : 2px;
      border-top-right-radius : 2px;
      height : $componentHeight;
      background-color : white;
      display : flex;
      border-bottom : 1px solid #eee;

      &-item {
        cursor : pointer;
        flex : 2;
        @include alignCenter();
        color : rgb(92, 92, 92);

        &.selected {
          color : rgb(255, 118, 130);
          // text-shadow : 0 2px 2px rgb(186, 186, 186);

          // [data-react-toolbox=font-icon] {
          //   background : red;
          // }
        }

        &:not(.checkmark) {
          flex : 2;
        }

        &:nth-child(2) {
          flex : 1;
        }
      }
    }
  }
}
