@import '../../../styles/scss/globals.scss';

.custom-table {
  .table {
    .search-bar {
      background : white;
      height : $componentHeight * 1.4;
      border-bottom : 1px solid #eee;
      display : flex;

      &_input-field {
        flex : 2;
        position : relative;

        ::-webkit-input-placeholder {
          opacity : 0;
          transition : opacity .12s linear;
        }
        :-moz-placeholder {
          opacity : 0;
          transition : opacity .12s linear;
        }
        ::-moz-placeholder {
          opacity : 0;
          transition : opacity .12s linear;
        }
        :-ms-input-placeholder {  
          opacity : 0;
          transition : opacity .12s linear;
        }
        :focus::-webkit-input-placeholder {
          opacity : 0.3;
        }
        :focus:-moz-placeholder {
          opacity : 0.3;
        }
        :focus::-moz-placeholder {
          opacity : 0.3;
        }
        :focus:-ms-input-placeholder {
          opacity : 0.3;
        }

        .search-bar_icon {
          width : 45px;
          color : rgb(216, 216, 216);
          text-align : center;
          vertical-align : middle;
          margin-top : -10px;
          margin-right : -36px;
          font-size : 2em;

          &.close {
            opacity : 0;
            margin-left : -45px;
            transition : opacity .12s linear;
            cursor : default;

            &.appear {
              cursor : pointer;
              // display : none;
              opacity : 1;
            }
          }
        }

        .search-bar_input {
          font-size :  calc(1.6 * var(--unit));
          background : transparent;
          height : 40px;
          line-height : 40px;
          border : none;
          border-bottom : 1px solid #eee;
          width : 85%;
          margin-left : 40px;
          padding-top : 18px;
          padding-left : 4px;

          &:focus {
            outline : none;
          }
        }

        .search-bar_placeholder {
          position : absolute;
          bottom : 24px;
          color : rgb(145, 145, 145);
          left : 45px;
          margin-left : 6px;
          font-size : 1.2em;
          transition : bottom .12s linear, color .12s linear, font-size .12s linear, margin .12s linear;

          &.top {
            // margin : 0;
            bottom : 44px;
            font-size : 0.8em;
            color : #ccc;
          }
        }
      }

      &_dropdown {
        flex : 1;
        height : $componentHeight;
        display : flex;

        & > span {
          flex : 0.8;
          white-space : nowrap;
          margin-right : 10px;
          margin-top : 20px;
          font-size : 1em;
          color : #ccc;
        }

        [data-react-toolbox=input] {
          padding : 6px 4px;
        }
      }
    }
  }
}
