@import '../../styles/scss/globals.scss';

.ticket-form {
  padding : 10px 10px 20px;
  height : 90vh;
  width : 70vw !important;

  // [data-react-toolbox=tabs] :nth-child(2) {
    
  // }

  &-top {
    display : flex;
    justify-content : space-between;

    :last-child {
      margin-right : 40px;
    }
  }

  // @media(max-width : 100px) {
  //   width : 90vw !important;
  // }

  @media (max-width : 1024px){
    width : 90vw !important;
  }

  &-address {
    .address-trip-info, .address-dropdown {
      [data-react-toolbox=list] {
        display : flex;

        & > li {
          flex : 1;
            & > span > span {
              display : flex;
              width : 100%;

              & > :nth-child(1) {
                flex : 1;
                
                & > p {
                  width : 60px;
                  text-align : right;
                }
              }

              & > :nth-child(2) {
                flex : 20;

                [data-react-toolbox=dropdown], 
                [data-react-toolbox=date-picker],
                [data-react-toolbox=input]{
                  width : 100%;
                }
              }
            }
        }
        // .ride-select {
        //   background : red;
        //   display : flex;

        // }
      }
    }

    // .address-dropdown {
    //   .list {
    //     display : flex;
    //     align-items : center;

    //     li {
    //       flex : 1;
    //       @include alignCenter;

    //       p {
    //         width : 60px;
    //         text-align : right;
    //         margin-right : 10px;
    //       }

    //       [data-react-toolbox=input], [data-react-toolbox=dropdown] {
    //         width : 160px;

    //         @media (max-width : 860px) {
    //           width : 140px;
    //         }
    //       }
    //     }
    //   }
    // }

    .address-pick-drop, [class*=-info] {
      display : block;
      // [data-react-toolbox=input], [data-react-toolbox=autocomplete] {
      //   @media (max-width : 860px) {
      //     padding : 10px 30px;
      //   }
      // }
    }
  }

  // &-payment {
  //   // width : 200px;
  // }

  &-review {
    display : block;

    .review-trip {
      display : block;

      .list {
        display : flex;

        li > span {
          span + span > span  {
            background : white;
            width : 100px;
          }
        }
      }
    }

    .review-payment {
      // display : flex;
      font-size : 1em;

      .total-amount-cap {
        color: red;
        font-weight: bold;
        font-size : 1.4em;
      }

      .review-fee {
        // display : inline-block;

        .small-caption {
          // color : green;
          display : inline-block;
          text-align : right;
          width : 156px;
        }
      }
    }

    .review-actions {
      margin-top : 50px;
    }
  }
}