.ticket-modal {
  height : 80vh;
  // position : relative;
  // overflow : auto;
  @media (max-width : 1024px){
    width : 90vw !important;
  }


  .ride-item {
    &_route {
      em {
        margin-right : 20px;
      }
    }
  }

  .dates {
    display : flex;

    [data-react-toolbox=date-picker], [data-react-toolbox=dropdown] {
      flex : 1;
      margin : 0 10px;
    }
  }

  .actions {
    // background : red;
    position : absolute;
    bottom : 26px;
  }
}