@import '../../styles/scss/globals.scss';

.ticket-form {
  padding : 10px 10px 20px;
  height : 90vh;
  width : 60vw;

  &-top {
    display : flex;
    justify-content : space-between;

    :last-child {
      margin-right : 40px;
    }
  }

  // @media(max-width : 100px) {
  //   width : 90vw !important;
  // }

  @media (max-width : 1024px){
    width : 90vw !important;
  }

  &-address {
    .address-trip-info {
      display : flex;
      
      li {
        flex : 1;
      }
    }

    .address-dropdown {
      .list {
        display : flex;
        align-items : center;

        li {
          flex : 1;
          @include alignCenter;

          p {
            width : 60px;
            text-align : right;
            margin-right : 10px;
          }

          [data-react-toolbox=input], [data-react-toolbox=dropdown] {
            width : 160px;

            @media (max-width : 860px) {
              width : 140px;
            }
          }
        }
      }
    }

    .address-pick-drop {
      display : block;
      // [data-react-toolbox=input], [data-react-toolbox=autocomplete] {
      //   @media (max-width : 860px) {
      //     padding : 10px 30px;
      //   }
      // }
    }
  }

  // &-payment {
  //   // width : 200px;
  // }

  &-review {
    display : block;

    .review-trip {
      display : block;
      .list {
        display : flex;

        li > span {
          span + span > span  {
            background : white;
            width : 100px;
          }
        }
      }
    }

    .review-fee {
      display : block;
      font-size : 1em;

      div {
        display : inline-block;

        .small-caption {
          text-align : right;
          width : 156px;
        }
      }
    }
  }
}