.ticket-consult {
  // height : 100vh;
  display : flex;
  justify-content : center;

  @media (max-width : 1280px) {
    flex-flow : column wrap;
    // .table-content {
    //   // font-size : 0.8em !important;
    //   // transform : scale(0.5);
    // }
  }

  // width : 100vw;

  .ticket-settings {
    margin-left : 4px;
  }
}