.ticket-consult {
  padding : 0 30px 0 12px;
  // overflow : hidden;
  display : flex;

  @media (max-width : 1024px){
    flex-flow : column nowrap;
  }

  &-table {
    display : flex;
    flex-flow : column nowrap;
    flex : 3;

    @media (max-width : 1024px ) {
      margin-bottom : 22px;
    }

    .address-location {
      display : flex;
      // display : block;
      flex-flow : column nowrap;
    }
  }

  .ticket-settings {
    flex : 1;
    align-self : baseline;

    @media (min-width : 1024px){
      margin-left : 10px;
    }

    &__filter {
      display : flex;
      flex-flow : row wrap;

      &-options {
        flex : 1;

        h3 {
          padding-left : 10px;
        }

        [data-react-toolbox="radio-group"] {
          padding-left : 20px;
        }
      }
    }
  }
}
