@import '../extras/scss/variables';

.topbar {
    height : 45px;
    width : 100vw;
    border-bottom : 1px solid #eee;
    right : 0;
    position: absolute;
    transition : all .2s ease-out;

    background-color : $color1;

    &__title {
        margin : 0;
    }
}

.is-open + .topbar {
    width : calc(100vw - 200px);
}
