@import 'partials/_global.scss';
@import 'partials/_variables.scss';
@import 'mixins/all.scss';

body {
  #root {
    // --preferred-font : Lato,Helvetica,Arial,sans-serif;
    // font-family : var(--preferred-font) !important;
    background : var(--palette-blue-100);

    @include hw();
    // @include alignCenter();
  }

  .ride-item {
    &_route {
      p em {
        margin-right : 20px;

        strong {
          margin-right : 4px;
        }
      }
    }

    &_bus {

    }
  }
}
