.ride-consult {
  padding : 0 30px 0 12px;
  // overflow : hidden;
  display : flex;

  @media (max-width : 1024px){
    flex-flow : column nowrap;
  }

  &-table {
    display : flex;
    flex-flow : column nowrap;
    // width : 100%;
    flex : 3;

    @media (max-width : 1024px ) {
      margin-bottom : 22px;
    }
    // width : 500px;
  }

  .ride-settings {
    // display : none;
    flex : 1;
    align-self : baseline;

    @media (min-width : 1024px){
      margin-left : 10px;
    }
  }
}