doctype html
html.no-js(lang='')
  head
    include partials/head.pug
    //- link( rel='stylesheet', href='https://unpkg.com/simplebar@latest/dist/simplebar.css')
  body
    div#main
    //- script(src='https://unpkg.com/simplebar@latest/dist/simplebar.js', type='text/javascript')
    script(src=script, type='text/javascript')