@import '../../styles/scss/globals.scss';

.main-body {
  padding : 20px 30px 50px;
  // margin : 40px 30px 50px;
  // display : flex;
  // justify-content : center;

  overflow-x : hidden;
  overflow-y : auto;

  @include hw();
}